<header>
  <h1>Book-API</h1>
</header>

<h4>Create New Book</h4>
<form (submit)="createBook()">
  <input [(ngModel)]="bookTitle" name="categoryName" type="text" placeholder="name" />
  <input [(ngModel)]="bookDescription" name="categoryDescription" type="text" placeholder="description" />
  <input type="submit"/>
</form>

<div *ngIf="books">
  <h4>All Books</h4>
  <ul>
    <li *ngFor="let book of books">
      <a routerLink="/books/{{book.id}}">{{book.title}}</a>  -- {{book.description}} -- {{book.email}}
      <button (click)="deleteBooks(category)">delete</button>
      <ul>
        <li *ngFor="let author of book.authorList">
          {{author.name}}
      </ul>
    </li>
  </ul>
</div>

