<div *ngIf="singleBook">
  <h3>Book Title: {{singleBook.title}}</h3>
  <p>Book Description: {{singleBook.description}}</p>
  <button (click)="deleteBook()">Delete Book</button>
  <h5>Update Book</h5>
  <form (submit)="updateSingleBook(bookId)" >
    <input [(ngModel)]="title" name="updateTitle" type="text" placeholder="name" />
    <input [(ngModel)]="description" name="updateDescription" type="text" placeholder="description" />
    <input type="Submit"/>
  </form>
  <h5>Create Author</h5>
  <form (submit)="createAuthor(singleBook)">
    <input [(ngModel)]="authorName" name="authorName" type="text" placeholder="New Author" />
    <input [(ngModel)]="authorAge" name="authorAge" type="text" placeholder="Age" />
    <input [(ngModel)]="authorNationality" name="authorName" type="text" placeholder="Nationality" />
    <input type="Submit"/>
  </form>
  <ul>
    <h4>Author Information</h4>
    <li *ngFor="let author of singleBook.authorList">
      <p>Author: {{author.name}}</p>
      <p>Age:{{author.age}}</p>
      <p>Nationality: {{author.nationality}}</p>
      <button (click)="deleteAuthor(author.id)">Delete Author</button>
      <form (submit)="updateAuthor(bookId, author.id)">Update Author
        <input [(ngModel)]="authorName" name="authorName" type="text" placeholder="New Author" />
        <input [(ngModel)]="authorAge" name="authorAge" type="text" placeholder="Age" />
        <input [(ngModel)]="authorNationality" name="authorName" type="text" placeholder="Nationality" />
        <input type="Submit"/>
      </form>

    </li>
  </ul>
</div>
